# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven
target/

# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Gradle Wrapper
gradle-wrapper.properties
gradle-wrapper.jar
gradlew
gradlew.bat

# Eclipse
.settings/
.project
.classpath

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
